{% extends "blog/base.html" %}
{% block content %}
    <h1> About Page </h1>
    <p>
        This a sample website using the Django web framework and Python 3. Users can login/logout, create new posts, update their previous posts, see their post history and upload a profile picture and update it later.
        Media files are stored in an Amazon Web Services (AWS) S3 bucket. The site can support as many users as the database (Postgresql) can support and the web hosting, of course, allows, and the project can be extended in many ways but, since this is a sample project, I didn't want to dedicate more time to it. 
    </p>
    <p>Other technologies used are:</p>
    <ul>
        <li>Bootstrap</li>
        <li>Crispy forms: A django add-on to automatically add some stylings to the forms (signup, login, etc)</li>
        <li>AWS (S3, for hosting static files)</li>
        <li>Linux</li>
        <li>Heroku</li>
    </ul>
    You can see the source code <a href="https://github.com/alvarorf/django_blog"> here.</a>
{% endblock content %}